body {
    font-size:14px;
    margin:0;
    color: #494949;
}

#header-container, .main {
    background: #fff;
}

a {
    color: #ff6a00;
    -moz-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    -webkit-transition: color 0.2s linear;
    transition: color 0.2s linear;

    &:hover {
        color: #2591ff;
    }
}

input[type=text], input[type=email], input[type=password], textarea {
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding: 5px;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    outline: none;

    &:focus {
        border: 1px solid #2591ff;
        background: #e4f1ff;
    }
}

input[type=submit] {
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
    background: none;
    color: #878787;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;

    &:hover {
        border: 1px solid #2591ff;
        color: #2591ff;
    }
}

.main .container-column-content {
    ul {
        li {
            list-style:none;

            &::before {
                content: "\f105";
                font-family: FontAwesome;
                margin:0 5px 0 -15px;
            }
        }
    }
}

h1  { 
    font-family: 'Fugaz One', cursive;
    font-size: 24px;
    color: #ff6a00;
    font-weight: normal;
}

h2 {
    font-size: 20px;
    color: #2591ff;
    font-weight: normal;
}

h3 {
    font-size: 18px;
    font-weight: normal;
}

h4 {
    font-size: 16px;
    color: #ff6a00;
    font-weight: normal;
}

h5 {
    font-weight: bold;
}

h6 {
    font-size: 90%;
    font-weight: bold;
}

table {
    width: 100%;
    border: 1px solid #dddddd;
    border-collapse: collapse;
    border-spacing: 2px;

    tbody {
        display:table-row-group;

        td {
            border: 1px solid #ddd;
            text-align: center;
        }

        tr:hover {
            background: #efefef;
        }

        tr:nth-child(even) {
            background-color:#efefef;
        }
    }

    thead {
        border: inherit;

        th {
            background: #ddd;
            font-weight: normal;
            padding: 5px;
        }
    }

    &.men {
        .first {
            background: #5bacff;
        }

        .second {
            background: #89c3ff;
        }

        .third {
            background: #b7daff;
        }
    }
    &.women {
        .first {
            background: #ff7979;
        }

        .second {
            background: #ff8e8e;
        }

        .third {
            background: #ffc5c5;
        }
    }
}

#header-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;

    &::after {
        clear:both;
        content: " ";
        display:table;
    }
}

#language-switch {
    a {
        text-decoration: none;
        color: #cccccc;

        &.current {
            color: #494949;
            &::before {
                content: "\f1ab";
                font-family: FontAwesome;
                margin-right: 5px;
                color: #2591ff;
            }
        }

        &:hover {
            color: #494949;
        }
    }
}

#main-menu {
    float: left;
    margin-top: 9px;
    z-index: 1;

    &::after {
        content: " ";
        display: table;
        clear: both;
    }

}

#page-title {
    
    float: left;

    h1 {
        font-family: 'Fugaz One', cursive;
        font-size: 24px;
        color: #ff6a00;
        font-weight: normal;

        i {
            margin-right: 10px;
            color: #ff6a00;
        }
    }

}

#custom-button {
    float: right;
    display: inline-block;
    margin-top: 12px;
    padding: 7px 20px;
    text-transform: uppercase;
    background: #2591ff;
    border: 1px solid #2591ff;
    border-radius: 3px;
    color: #fff;
    -moz-transition-property: background, color;
    -o-transition-property: background, color;
    -webkit-transition-property: background, color;
    transition-property: background, color;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;

    a {
        text-decoration: none;
        color: inherit;
    }

    i {
        margin-left: 8px;
    }

    &:hover {
        background: #ffffff;
        color: #2591ff;
    }
}

.container-column-content {
    > h2 {
        margin-top:0;
    }
}

.slide-text {
    width: 100%;
    position: relative;

    h3 {
        font-size: 110%;
        font-family: 'Exo', sans-serif;
        color: #fff;
        position: absolute;
        bottom: -4px;
        padding: 10px;
        background: rgba(0, 0, 0, 0.6);
    }
}

.article-list {
    padding-right: 20px;

    .article-list-item {
        padding: 1px 10px 10px 10px;
        margin-bottom: 30px;
        border-bottom: 2px solid #eee;

        .item-content {

            h2 {
                font-size: 130%;
                margin-bottom: 10px;
                /*text-transform: uppercase;*/
                font-weight: 600;

                a {
                    color: #ff0000;
                    text-decoration: none;

                    &:hover {
                        color: #5bacff;
                    }
                }
            }

            &::after {
                content: " ";
                display: table;
                clear: both;
            }

            .thumbnail {
                float: left;
                margin-right: 10px;
                
                img {
                    border: 2px solid #eee;
                    padding: 2px;
                    border-radius: 100%;
                }
            }

            .item-text {
                color: #777;
            }

            a.more, .time {
                float: right;
                margin-top: 15px;
                margin-left: 25px;
            }

            .time {
                color: #777;

                &::before {
                    content: "\f073";
                    font-family: FontAwesome;
                    margin-right: 8px;
                    color: inherit;
                }
            }

            a.more {
                text-transform: capitalize;
                color: #2591ff;

                &:hover {
                    text-decoration:none;
                }

                &::before {
                    content: "\f0f6";
                    font-family: FontAwesome;
                    margin-right: 8px;
                    color: #777;
                }
            }
        }
    }
}

.events {
    width: 100%;
    background: #000 url("../imgs/events_bg.jpg") center no-repeat;
    
    &::after {
        content: " ";
        display:table;
    }

    h2 {
        padding-top: 10px;
        margin : 0 0 20px 20px;
        color:#fff;
    }

    .events-list-item {
        margin: 0 20px 30px 20px;
    }

    .item-content {

        width:100%;
        background: rgba(255, 255, 255, 0.9);

        &::after {
            content: "";
            display:table;
            clear:both;
        }
    }

    .thumbnail {
        float: right;
        padding: 12px;
        background: #ff6a00;
    }

    h3 {
        color: #2591ff;
        margin:0 0 7px 0;
    }

    .item-text {
        font-size: 90%;
        padding-top:15px;
        color: #777;
        margin: 0 0 0 25px;

        strong {
            font-weight: 600;
        }

        .date {
            &::before {
                content: "\f133";
                font-family: FontAwesome;
                margin-right: 8px;
            }
        }

        .start {
            &::before {
                content: "\f017";
                font-family: FontAwesome;
                margin-right: 8px;
            }
        }

        .map {
            &::before {
                content: "\f278";
                font-family: FontAwesome;
                margin-right: 8px;
            }
        }

        a {
            color: #2591ff;

            &:hover {
                color: #ff6a00;
            }
        }
    }
}

footer {
    background: #494949;
    color: #fff;
    margin: 20px 0 0 0;
    padding-top: 10px;

    h2 {
        color: #fff;
        margin-top:0;
    }
}

.copyright {
    background: #535353;
    padding: 10px;
    margin-top: 20px;
    color: #bbbbbb;
}

.people-list {
    .name {
        font-size: 120%;

        &::before {
            content: "\f007";
            color: #2591ff;
            font-family: FontAwesome;
            margin-right: 10px;
        }
    }
    .person-job {
        margin-left: 5px;
        color: #ff8e8e;
    }
}

.bx-wrapper {
    margin-bottom:35px;
    box-shadow:none;
    .bx-viewport {
        box-shadow: none;
    }
    li {
        &::before {
            content:none;
        }
    }
}

@media(min-width: 1920px) {
    body {
        background: #fff url("../imgs/bg.JPG") fixed no-repeat;
    }
}


@media (min-width: 1200px) {
    body {
        background: #fff url("../imgs/bg1920.jpg") fixed no-repeat;
    }
    
    #header-container {
        width: 1200px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .main {
        width:1200px;
        margin-left:auto;
        margin-right:auto;
        overflow: hidden;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    footer {
        width: 1240px;
        margin-left:auto;
        margin-right:auto;
        margin-top:0;
    }
    .sponsors {
        width:1200px;
        margin-left:auto;
        margin-right:auto;
        padding-left: 20px;
        padding-right: 20px;
        overflow: hidden;
    }

    .copyright-text {
        width:1200px;
        margin-left:auto;
        margin-right:auto;
        padding-left: 20px;
        padding-right: 20px;
        overflow: hidden;
    }
}

@media (min-width: 900px) {
    #articles {
        .container-column-1 {
            width: 65%;
        }
        .container-column-2 {
            width: 35%;
        }
    }
    
    .container-columns-outer-wrapper {
        overflow:hidden;
        height:100%;
    }
    .container-columns-inner-wrapper {
        overflow:hidden;
        height:100%;
    }
    .container-columns-50p-50p {
        width: 100%;
        overflow: hidden;

        &::after {
            content: " ";
            display: table;
            clear:both;
        }

        .container-column-width-50p {
            width: 50%;
            float: left;
            height:100%;
        }
    }
    .sponsors {

        .sponsors-list-item {
            width: 24%;
            display: inline-block;
            text-align: center;
        }

    }
}

@media (min-width: 550px) {
    #main-menu {
        ul {
            list-style: none;
            position: relative;

        li {
            display: inline-block;
            margin-right: 30px;

            a {
                text-decoration: none;
                color: #494949;
                padding: 4px 8px 4px 8px;
                border-top: 2px solid #fff0e5;
                -moz-transition: border 0.3s linear;
                -o-transition: border 0.3s linear;
                -webkit-transition: border 0.3s linear;
                transition: border 0.3s linear;

                &:hover {
                    border-top: 2px solid #ff6a00;
                }
            }

            ul {
                display: none;
                white-space: nowrap;
                position: absolute;
                z-index: 10;
                background: #ffffff;
                margin-left: -8px;
                padding: 8px 0 0 8px;
                border-bottom: 5px solid #ff6a00;

                li {
                    display: block;
                    margin-bottom: 6px;

                    a {
                        border: none;
                        font-size: 90%;

                        &:hover {
                            border: none;
                            color: #ff6a00;
                        }
                    }
                }
            }

            &:hover {
                > ul {
                    display: block;
                }
            }
        }
    }
    }
}

@media (max-width: 1199px) {
   #header-container {
        width: 100%;
        margin : 5px 5px 0 5px;
    }

    .main {
        width: 100%;

        > .container-columns-container {
            margin: 20px 5px 0 5px;
        }
    }

    .sponsors {
        margin : 5px 10px 0 10px;
    }

    .copyright-text {
        margin : 0 5px 0 5px;
    }
}

@media (max-width: 900px) {
    .article-list {
        padding-right:0;
    }

    .content-slider-module {
        display:none;
    }

    .sponsors {
        text-align:center;
            
        .sponsors-list-item {
            margin-bottom:10px;
        }
    }

    .copyright {
        text-align:center;
    }
}

@media (max-width: 900px) and (min-width: 550px) {
    #page-title {
        float:none;

        h1 {
            margin-bottom:0;
        }
    }

    #main-menu {
        ul {
            padding-left:0;
            margin-top: 10px;

            ul {
                margin-top: 0;
            }
        }
    }

    #custom-button {
        margin-top:10px;
    }
}

@media (max-width: 549px) {
    #page-title {
        float:none;
        
        h1 {
            margin-bottom:0;
            text-align:center;
        }
    }

    #main-menu {
        float:none;
        width:100%;
        ul {
            padding-left:0;
            margin-top:0;
            list-style: none;

            li {
                width: 100%;
                padding: 8px 8px 8px 8px;
                color: #494949;
                border-bottom: 2px solid #fff0e5;

                &.parent {
                    > a:first-of-type {
                        &::after {
                            content: "\f107";
                            font-family: FontAwesome;
                            margin-left: 6px;
                        }
                    }
                }

                a {
                    text-decoration: none;
                    color: inherit;

                    &:hover {
                        color:#ff6a00;
                    }
                }

                > ul {
                    li {
                        border:none;
                        font-size: 90%;
                        padding: 6px 8px 6px 8px;

                        a {
                            color:#8d8d8d;

                            &::before {
                                content: "\f105";
                                margin-right: 6px;
                                font-family: FontAwesome;
                            }

                            &:hover {
                                color: #494949;
                            }
                        }
                    }
                }
            }

        }
    }

    #custom-button-wrapper {
        width: 100%;
        text-align:center;
        #custom-button {
            float: none;
            margin-top: 0;
            margin-left:auto;
            margin-right:auto;
        }
   }
}

