#main-menu {
    ul {
        list-style: none;
        position: relative;
        li {
            display: inline;

            ul {
                display: none;
                position: absolute;

                li {
                    display: block;
                }
            }

            &:hover {
                ul {
                    display: block;
                }
            }

        }
    }
}
